<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
    <link rel="stylesheet" href="styles/modules.css">
</head>

<body>
    <h1>Results</h1>
    <div class="container">
    <% searchResults.forEach(book => { %>
    <section class =books>
       <a href="<%= book.link %>"><h2> <%= book.title %> </h2></a>
        <p>Written by: <%= book.authors %></p>
        <img src="<%= book.image %>">
        <p class="description"><%= book.description %></p>
    </section>
    <% }) %>
    </div>
</body>

</html>