<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>  

</head>

<body>
  <head>
      <link rel="stylesheet" href="styles/apiresults.css">
  </head>
  <header id="banner">
      <%- include('../layout/header') %>  
  </header>
  <main>
    <div>
        <div class="container">
            <% books.forEach(book => { %>
            <section class =books>
               <a href="<%= book.link %>"><h2> <%= book.title %> </h2></a>
                <p>Written by: <%= book.authors %></p>
                <img src="<%= book.image %>" alt="<%= book.title %>">
                <p class="descriptionOn"><%= book.description %></p>
            </section>
            <% }) %>
            </div>
        
</div>
  </main>
</body>

</html>